@charset "UTF-8";
/**** header section ****/
.bg-dark .navbar-nav .nav-link .cart-num {
  margin-right: -25px;
  margin-left: 0; }

.header-cart {
  left: 100px;
  right: auto; }

.header-cart ul li .item-image {
  float: right;
  padding-left: 5px;
  padding-right: 0; }

.header-cart ul li .shop-item-body {
  float: left; }

.header-cart ul li .remove-btn {
  left: 10px;
  right: auto; }

.header-cart .total-price .amount {
  float: left; }

/**** question page *****/
.ask .ask-inner .questions .form-group.col-sm-6:first-child {
  padding-right: 15px;
  padding-left: 0; }

.ask .ask-inner .questions .form-group.col-sm-6:first-child .form-control {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.ask .ask-inner .questions .form-group.col-sm-6:last-child {
  padding-right: 0;
  padding-left: 15px; }

.ask .ask-inner .questions .form-group.col-sm-6:last-child .form-control {
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.ask .ask-inner .questions .custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "رفع ";
  left: 28px;
  right: auto; }

.custom-select {
  background-position: left .75rem center;
  padding: .375rem .75rem .375rem 1.75rem; }

/****packages*******/
.packadges-block .no-bg.text-right {
  text-align: right !important; }

.packadges-block .col:not(.no-bg) {
  background: #fff;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.05); }

.features .col:last-child {
  border-right: 1px solid #d1d1d1;
  text-align: center; }

.features .col:first-child {
  border-right: 0; }

/***** modal *****/
.calandar .consult-times {
  border-radius: 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px; }

.calandar .consult-times .consult-day {
  padding-right: 10px;
  padding-left: 0px; }

.calandar .consult-times ul {
  padding-right: 10px;
  padding-left: 0; }

.consult-modal .modal-dialog .close {
  left: -5px;
  right: auto; }

/*# sourceMappingURL=rtl.css.map */
