@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Courgette&subset=latin-ext");
body {
  font-family: 'lato';
  color: #1b1b1b; }

section {
  background: #fff; }

a,
a:hover,
a:focus,
a:visit {
  transition: color 250ms !important;
  text-decoration: none !important; }

/**** top header *****/
.top-header {
  background: #202020;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 5px; }
  .top-header a ,.top-header .btn-dark{
    font-size: 14px;
    color: #DBDBDB;
    letter-spacing: 0.4px;
    display: inline-block;
    line-height: 37px;
    background: transparent !important;
    border:0 !important;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none !important
  }

    .top-header a i ,.top-header .btn i{
      margin-right: 5px;
      margin-left: 5px; }
  .top-header .dropdown {
    display: inline-block; }
    .top-header .dropdown .btn {
      background: transparent !important;
      border: 0 !important;
      box-shadow: none !important; }
      .top-header .dropdown .btn::after {
        content: "";
        display: none; }
  .top-header .dropdown-menu.show {
    z-index: 9999999;
    margin-top: 0px;
    background: #202020;
    border-radius: 0;
    border-top: 2px solid #b50100;
    padding-top: 0;
    padding-bottom: 0; }
    .top-header .dropdown-menu.show .dropdown-item {
      padding: .25rem 1rem;
      line-height: 30px;
      border-bottom: 1px solid #dddddd3b;
      display: block !important;
      color: #DBDBDB; }
      .top-header .dropdown-menu.show .dropdown-item:last-child {
        border: 0; }
      .top-header .dropdown-menu.show .dropdown-item:hover {
        background: transparent;
        color: #fff; }

.bg-dark {
  background-color: #fff !important;
  padding: 0;
  z-index: 99999; }
  .bg-dark .navbar-brand {
    padding-top: 2px; }
    .bg-dark .navbar-brand img {
      max-height: 85px;
      margin-right: 15px; }
  .bg-dark .navbar-nav .nav-item {
    line-height: 62px;
    border-bottom: 3px solid transparent;
    padding-top: 10px;
    font-size: 18px;
    color: #1A1A1A;
    letter-spacing: 0.51px; }
    .bg-dark .navbar-nav .nav-item:hover {
      border-color: #b50100; }
    .bg-dark .navbar-nav .nav-item.active {
      border-color: #b50100; }
      .bg-dark .navbar-nav .nav-item.active .nav-link {
        color: #b50100; }
  .bg-dark .navbar-nav .nav-link:focus, .bg-dark .navbar-nav .nav-link:hover {
    color: #b50100; }
  .bg-dark .navbar-nav .nav-link {
    font-size: 0.88rem;
    color: #151a16;
    letter-spacing: 0.4px;
    text-align: left;
    text-transform: uppercase;
    font-family: 'Lato';
    padding-right: 1.06rem;
    padding-left: 1.06rem;
    transition: color 250ms;
    cursor: pointer;
    font-weight: 600; }
    .bg-dark .navbar-nav .nav-link:hover {
      color: #b50100; }
    .bg-dark .navbar-nav .nav-link .cart-num {
      background: #b50100;
      width: 1.1rem;
      height: 1.11rem;
      border-radius: 50%;
      font-size: 11px;
      font-weight: bold;
      display: inline-block;
      line-height: 18px;
      text-align: center;
      vertical-align: 13px;
      margin-left: -8px;
      color: #fff; }
  .bg-dark .navbar-nav .dropdown-menu {
    padding: 0; }
    .bg-dark .navbar-nav .dropdown-menu .dropdown-item {
      line-height: 25px;
      color: #636363;
      padding: .25rem 1rem;
      font-family: 'Lato'; }
      .bg-dark .navbar-nav .dropdown-menu .dropdown-item:hover {
        color: #c7990b; }

/******** cart ************/
.header-cart {
  right: 100px;
  top: calc(100% - 3px);
  margin: 0;
  opacity: 0;
  z-index: 10;
  width: 290px;
  padding: 20px;
  display: block;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
  background-color: #ffffff;
  border-top: 3px solid #b50100;
  -webkit-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  transform: translate(0, 10px);
  -webkit-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  line-height: 30px; }
  .header-cart ul {
    list-style: none;
    padding: 0; }
    .header-cart ul li {
      display: block;
      float: left;
      width: 100%;
      border-bottom: 1px solid #dddddd6e;
      padding-top: 10px;
      padding-bottom: 10px; }
      .header-cart ul li .remove-btn {
        position: absolute;
        right: 10px;
        color: #fff;
        background: #b50100;
        line-height: 20px;
        padding: 0 4px 1px 4px;
        font-weight: bold;
        margin-top: 5px; }
      .header-cart ul li .item-image {
        width: 40px;
        float: left;
        padding-right: 5px;
        padding-top: 7px; }
        .header-cart ul li .item-image img {
          max-width: 100%; }
      .header-cart ul li .shop-item-body {
        float: right;
        width: calc(100% - 50px); }
        .header-cart ul li .shop-item-body a {
          display: block;
          color: #C5984E;
          font-weight: 600;
          line-height: 30px; }
        .header-cart ul li .shop-item-body .package-time {
          display: block;
          line-height: 20px;
          font-size: 14px;
          font-weight: bold; }
  .header-cart .total-price {
    padding-top: 20px;
    display: block;
    float: left;
    width: 100%; }
    .header-cart .total-price strong {
      text-transform: capitalize; }
    .header-cart .total-price .amount {
      float: right;
      font-size: 14px;
      color: #b50100; }
  .header-cart .buttons .btn {
    width: 100%;
    border-radius: 0;
    text-transform: uppercase;
    transition: all 0.5s ease;
    background: #C5984E;
    border-color: #C5984E;
    margin-top: 15px; }
    .header-cart .buttons .btn:hover {
      background: #b50100;
      border-color: #b50100; }

/* Container
----------------------------------------------------------------------------- */
.header-cart .header-cart-container {
  width: 100%;
  display: block; }

/* Hover
----------------------------------------------------------------------------- */
li.header-cart-btn:hover {
  border: 0 !important; }

li.header-cart-btn:hover .header-cart {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

/**** custom select ***********/
.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #fff;
  width: 110px;
  height: 10px; }

.select-styled {
  position: absolute;
  top: -13px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  padding: 8px 15px;
  transition: all 0.2s ease-in;
  font-size: 14px;
  color: #DBDBDB;
  letter-spacing: 0.4px;
  text-align: left;
  width: 100px; }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: #DBDBDB transparent transparent transparent;
    position: absolute;
    top: 16px;
    right: 10px; }
  .select-styled:active:after, .select-styled.active:after {
    top: 9px;
    border-color: transparent transparent #fff transparent; }

.select-options {
  display: none;
  position: absolute;
  top: 22px;
  right: 0;
  left: 0;
  z-index: 99999999;
  margin: 0;
  padding: 0;
  width: 150px;
  list-style: none;
  background-color: #202020;
  border-top: 2px solid #b50100;
  text-align: left;
  color: #DBDBDB;
  font-size: 14px; }
  .select-options li {
    margin: 0;
    padding: .25rem 1rem;
    line-height: 30px;
    border-bottom: 1px solid #dddddd3b;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: #fff;
      background: #b50100; }
    .select-options li[rel="hide"] {
      display: none; }

/*.select:hover{
  .select-options{
      display: block !important
  }
}*/
/****** home page *********/
/******* start hero section ********************/
.hero {
  background-size: cover !important;
  text-align: center; }
  .hero .hero-shadow {
    padding-top: 10.5rem;
    padding-bottom: 3.5rem;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }
    .hero .hero-shadow.inner-pages {
      padding-top: 7rem;
      padding-bottom: 5rem; }
      .hero .hero-shadow.inner-pages h2 {
        font-family: 'Courgette', cursive;
        font-size: 50px;
        color: #fff;
        font-weight: 500; }
  .hero .hero-inner h1 {
    border-top: 2px solid rgba(255, 255, 255, 0.7);
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    text-transform: capitalize;
    font-size: 80px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 900;
    width: 410px;
    margin: 0 auto 100px auto; }

/***** start features section **********/
.title {
  font-weight: 500;
  margin-bottom: 3rem;
  font-size: 45px;
  color: #1A1A1A;
  letter-spacing: 1.01px; }

.features {
  padding-top: 5rem;
  padding-bottom: 4rem; }
  .features .col {
    border-right: 1px solid #d1d1d1;
    text-align: center; }
    .features .col:last-child {
      border: 0; }
  .features .feature-name {
    color: #3e3e3e;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 20px;
    display: grid;
    align-items: center;
    min-height: 55px; }
  .features .feature-img {
    height: 70px;
    display: grid;
    align-items: center; }
    .features .feature-img img {
      max-width: 100%;
      margin: 0 auto; }

/***** packedge section *****/
.packadges-block {
  background: #f7f7f7;
  padding-top: 5rem;
  padding-bottom: 4rem; }
  .packadges-block .packages {
    margin-top: 100px;
    margin-bottom: 50px; }
  .packadges-block .package-title {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 16.14px;
    color: #242F40;
    text-align: center; }
  .packadges-block .package-price {
    color: #243040;
    font-weight: 300;
    min-height: 90px; }
    .packadges-block .package-price .curr {
      font-weight: 600; }
    .packadges-block .package-price .price {
      font-size: 40px;
      font-weight: 900;
      margin-right: 5px;
      margin-left: 5px; }
    .packadges-block .package-price i {
      color: #C5984E; }
      .package-price select{
        border:0;
      }
  .packadges-block ul {
    list-style-type: none;
    list-style: none;
    padding: 0; }
    .packadges-block ul li {
      font-weight: 500;
      border-bottom: 1px solid #cacaca;
      min-height: 45px;
      line-height: 40px;
      font-size: 14px;
      color: #3D3D3D; }
      .packadges-block ul li .fa-info-circle {
        color: #E46060;
        font-size: 18px;
        right: 15px;
        position: absolute;
        margin-top: 12px; }
  .packadges-block .recommend-package {
    background: #C5984E;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    padding: 5px 10px;
    display: block;
    width: 115px;
    margin: 0 auto 10px auto; }
  .packadges-block .col {
    padding: 20px 10px;
    transition: all 1s ease; }
    .packadges-block .col:not(.no-bg) {
      background: #fff;
      border: 1px solid #fff;
      -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.05);
      box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.05); }
      .packadges-block .col:not(.no-bg):hover {
        border: 2px solid #b50100;
        z-index: 99999; }
    .packadges-block .col.recommend {
      padding-top: 40px;
      margin-top: -60px;
      margin-bottom: -40px;
      border: 1px solid #b50100;
      -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
      box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
      z-index: 99999; }
      .packadges-block .col.recommend .btn {
        background: #b50100;
        color: #fff;
        border-color: #b50100; }
  .packadges-block .circle {
    border: 2px solid #C5984E;
    color: #C5984E;
    border-radius: 50%;
    padding: 0 3px 1px 3px; }
  .packadges-block .btn {
    border-radius: 2px;
    text-transform: uppercase;
    border-color: #858585;
    color: #858585;
    font-weight: 500;
    padding: 10px 20px;
    margin-top: 20px;
    transition: all 0.5s ease; }
    .packadges-block .btn:hover {
      background: #b50100;
      color: #fff;
      border-color: #b50100; }
  .packadges-block .note {
    text-align: left;
    color: #272e3e;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12rem; }
  .packadges-block.mobile-package .nav {
    margin-bottom: 30px; }
    .packadges-block.mobile-package .nav li {
      border: 0;
      padding-right: 7px;
      padding-left: 7px;
      width: 25%;
      display: grid;
      align-items: center; }
      .packadges-block.mobile-package .nav li:first-child {
        padding-left: 0; }
      .packadges-block.mobile-package .nav li:last-child {
        padding-right: 0; }
      .packadges-block.mobile-package .nav li .nav-link {
        background: #fff;
        font-size: 12px;
        color: #242F40;
        text-align: center;
        line-height: 20px;
        font-weight: 600;
        -webkit-box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.05);
        padding: 0.5rem; }
        .packadges-block.mobile-package .nav li .nav-link.active {
          background: #b50100;
          color: #fff; }
  .packadges-block.mobile-package .row {
    margin: 0;
    border-bottom: 1px solid #cacaca;
    border-top: 1px solid #cacaca;
    border-left: 1px solid #cacaca; }
    .packadges-block.mobile-package .row .col-6 {
      padding: 0;
      border-right: 1px solid #cacaca;
      background: #fff; }
  .packadges-block.mobile-package ul li {
    min-height: 45px;
    padding-right: 15px;
    padding-left: 15px; }
  .packadges-block.mobile-package .btn {
    margin-top: 0;
    margin-bottom: 15px; }
  .packadges-block .select {
    width: 70px; }
  .packadges-block .select-styled {
    width: 70px;
    color: #243040;
    font-weight: 300;
    padding: 0;
    padding-top: 7px; }
    .packadges-block .select-styled::after {
      border-top-color: #C5984E; }
  .packadges-block .select-options {
    top: 25px;
    right: 0;
    left: auto; }
    .packadges-block .select-options li {
      color: #DBDBDB; }
  .packadges-block .select-styled:active:after, .packadges-block .select-styled.active:after {
    border-color: transparent transparent #C5984E transparent; }

/**** insta section ********/
.insta {
  padding-top: 5rem;
  padding-bottom: 4rem;
  text-align: center; }
  .insta img {
    width: 100%;
    border: 2px solid #cbcbcd; }
  .insta .btn {
    margin-top: 20px;
    width: 200px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 40px;
    font-size: 20px;
    transition: all 0.5s ease;
    border-color: #858585;
    color: #858585;
    background: #fff;
    border-radius: 0; }
    .insta .btn:hover {
      background: #b50100;
      color: #fff;
      border-color: #b50100; }
    .insta .btn i {
      margin-right: 5px; }

.hr {
  width: 1.27rem;
  height: 0.15rem;
  background: rgba(199, 153, 11, 0.75);
  border-radius: 5px; }

.ask {
  background-size: cover !important;
  background-repeat: no-repeat !important; }
  .ask .ask-inner {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 3rem; }
    .ask .ask-inner h1 {
      font-family: 'Courgette', cursive;
      font-size: 50px;
      color: #fff;
      font-weight: 400;
      text-transform: capitalize; }
    .ask .ask-inner .questions {
      background: #fff;
      max-width: 600px;
      margin: 2rem auto;
      padding: 40px 20px; }
      .ask .ask-inner .questions .form-group.col-sm-6:last-child {
        padding-left: 0; }
        .ask .ask-inner .questions .form-group.col-sm-6:last-child .form-control {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0; }
      .ask .ask-inner .questions .form-group.col-sm-6:first-child {
        padding-right: 0; }
        .ask .ask-inner .questions .form-group.col-sm-6:first-child .form-control {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0; }
      .ask .ask-inner .questions .form-group label {
        font-size: 12px;
        color: #262525;
        letter-spacing: 0.46px;
        line-height: 26px;
        font-weight: 400; }
      .ask .ask-inner .questions .form-group .form-control {
        border-color: #979797;
        background: #f2f2f2;
        border-radius: 2px; }
      .ask .ask-inner .questions .form-group input {
        height: 40px; }
      .ask .ask-inner .questions .form-group.date label {
        display: block; }
      .ask .ask-inner .questions .form-group.date .form-control {
        display: inline-block;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 5px; }
        .ask .ask-inner .questions .form-group.date .form-control.a1 {
          width: 58px;
          text-align: center; }
        .ask .ask-inner .questions .form-group.date .form-control.a2 {
          width: 139px; }
      .ask .ask-inner .questions .form-group .rules-title {
        font-size: 16px;
        color: #262525;
        letter-spacing: 0.46px;
        line-height: 26px;
        font-weight: 400;
        text-transform: capitalize; }
      .ask .ask-inner .questions .form-group .rules ul {
        list-style: none;
        list-style-type: none;
        padding: 0; }
        .ask .ask-inner .questions .form-group .rules ul li {
          font-size: 12px;
          color: #262525;
          letter-spacing: 0.46px;
          line-height: 26px;
          font-weight: 400; }
      .ask .ask-inner .questions .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: "upload ";
        font-size: 12px;
        color: #F4F4F4;
        letter-spacing: 0.46px;
        line-height: 16px;
        right: 28px;
        background: #202020;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        height: 30px;
        top: 3px;
        width: 100px;
        text-align: center;
        font-weight: 400; }
      .ask .ask-inner .questions .custom-file-label {
        border-color: #B0B0B0;
        border-radius: 2px;
        padding: 6px 28px 4px 6px; }
      .ask .ask-inner .questions .btn {
        background: #202020;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        font-size: 17px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
        width: 100%;
        text-transform: capitalize;
        margin-top: 20px;
        margin-bottom: 15px; }
      .ask .ask-inner .questions .terms-agree {
        font-size: 12px;
        color: #262525;
        letter-spacing: 0.46px;
        line-height: 26px;
        font-weight: 400; }
        .ask .ask-inner .questions .terms-agree a {
          color: #001313;
          text-decoration: underline; }

/***** modals design ********/
.consult-modal {
  z-index: 99999; }
  .consult-modal .modal-dialog {
    max-width: 95%;
    margin-top: 5px;
    margin-bottom: 5px; }
    .consult-modal .modal-dialog .modal-content {
      background-color: transparent;
      box-shadow: none;
      border: 0; }
    .consult-modal .modal-dialog .modal-header {
      padding: 0;
      border: 0;
      border: 0; }
    .consult-modal .modal-dialog .close {
      position: absolute;
      background: #b50100;
      z-index: 9999;
      opacity: 1;
      color: #fff;
      padding: 0px 8px 3px 8px;
      border-color: #b50100;
      right: -5px;
      font-size: 30px;
      top: 5px;
      border-radius: 50%; }

.calandar {
  background: #fff;
  border-radius: 25px; }
  .calandar .consult-times {
    background: #b50100;
    color: #f5e4e4;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px; }
    .calandar .consult-times .title {
      font-weight: 500;
      margin-bottom: 1.5rem;
      font-size: 24px;
      color: #fff;
      text-transform: capitalize;
      letter-spacing: 1.01px; }
    .calandar .consult-times .consult-day {
      font-weight: 500;
      padding-left: 10px;
      text-transform: uppercase;
      margin-bottom: 1.5rem; }
    .calandar .consult-times ul {
      padding-left: 10px;
      list-style: none;
      list-style-type: none;
      font-weight: 400; }
    .calandar .consult-times .consult-notice ul li {
      font-size: 14px;
      line-height: 22px; }
  .calandar .calandar-div {
    padding-top: 20px;
    padding-bottom: 20px; }
    .calandar .calandar-div table {
      text-align: center; }
      .calandar .calandar-div table th span {
        display: block;
        text-align: center; }
        .calandar .calandar-div table th span.today {
          color: #b50100;
          font-size: 12px;
          text-transform: uppercase;
          line-height: 20px; }
        .calandar .calandar-div table th span.date {
          font-size: 12px;
          font-weight: 400; }
      .calandar .calandar-div table td {
        padding: 0.25rem 0.75rem; }
        .calandar .calandar-div table td span {
          cursor: pointer;
          transition: color 0.25s;
          box-shadow: inset 0 0 0 2px transparent;
          background: none;
          position: relative;
          vertical-align: middle;
          display: block;
          width: 100%;
          line-height: 40px; }
          .calandar .calandar-div table td span::before, .calandar .calandar-div table td span::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%; }
          .calandar .calandar-div table td span::before, .calandar .calandar-div table td span::after {
            border: 2px solid transparent;
            width: 0;
            height: 0; }
          .calandar .calandar-div table td span::before {
            top: 0;
            left: 0; }
          .calandar .calandar-div table td span::after {
            bottom: 0;
            right: 0; }
          .calandar .calandar-div table td span.focus, .calandar .calandar-div table td span:hover {
            color: #b50100;
            border-radius: 10px;
            font-weight: bold; }
            .calandar .calandar-div table td span.focus::before, .calandar .calandar-div table td span.focus::after, .calandar .calandar-div table td span:hover::before, .calandar .calandar-div table td span:hover::after {
              width: 100%;
              height: 100%; }
            .calandar .calandar-div table td span.focus::before, .calandar .calandar-div table td span:hover::before {
              border-top-color: #b50100;
              border-right-color: #b50100;
              transition: width 0.2s ease-out, height 0.2s ease-out 0.2s; }
            .calandar .calandar-div table td span.focus::after, .calandar .calandar-div table td span:hover::after {
              border-bottom-color: #b50100;
              border-left-color: #b50100;
              transition: border-color 0s ease-out 0.4s, width 0.2s ease-out 0.4s, height 0.2s ease-out 0.55s; }

footer {
  background: #1e1e1e;
  padding-top: 4.38rem;
  padding-bottom: 3rem;
  color: #fff;
  font-family: "lato"; }
  footer .hot-line .yellow-phone {
    font-size: 25px;
    color: #c7990b;
    line-height: 20px;
    font-weight: bold; }
    footer .hot-line .yellow-phone i {
      margin-right: 5px;
      font-size: 20px; }
  footer ul {
    padding: 0;
    list-style-type: none;
    list-style: none; }
    footer ul li {
      transition: all 0.5s ease; }
      footer ul li a {
        color: #fff;
        font-size: 12px;
        text-decoration: none !important;
        line-height: 25px; }
        footer ul li a:hover {
          color: #c7990b; }
  footer .follow {
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 20px; }
  footer .btn-dark {
    background: #121212;
    border-color: #121212;
    margin-top: 0.88rem;
    font-size: 17px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 25px;
    padding-right: 15px;
    padding-left: 15px; }
    footer .btn-dark:hover {
      background: #b50100;
      border-color: #b50100; }
    footer .btn-dark i {
      margin-right: 5px; }
  footer .mobile-payment img {
    max-width: 100%;
    margin-right: 1.3rem;
    margin-bottom: 1.26rem; }

/****** bottom footer ******/
.bottom-footer {
  background: #121212;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 2.25rem;
  padding-bottom: 2.3rem; }
  .bottom-footer p {
    margin-bottom: 0; }
    .bottom-footer p a {
      color: #fff;
      text-decoration: underline; }

/***** contact form ********/
.contact-form .sign {
  background: #fff;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-bottom: 4.17rem; }
  .contact-form .sign .register-title {
    margin-top: 3.58rem;
    font-family: "lato";
    font-size: 22.43px;
    color: #515151;
    letter-spacing: 0.01px;
    font-weight: 500;
    margin-bottom: 1.67rem; }
  .contact-form .sign .form-group {
    margin-bottom: 1.25rem; }
    .contact-form .sign .form-group.verify-code a {
      font-size: 14px;
      color: #4D4D4D;
      letter-spacing: 0;
      font-weight: 400; }
  .contact-form .sign .form-control {
    border: 1px solid #B0B0B0;
    border-radius: 2px;
    height: 2.92rem;
    outline: 0;
    box-shadow: none; }
  .contact-form .sign .btn {
    background: #b50100;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 100%;
    font-size: 17px;
    text-transform: capitalize;
    padding: .67rem 5px;
    margin-bottom: .92rem; }
    .contact-form .sign .btn:hover {
      background: #C5984E;
      border-color: #C5984E; }
.register-container.contact-form .sign{
  background:#fff;
}
.register-container.contact-form {
  background:#b50100; }
  .register-container.contact-form .contact-info {
    color: #fff;
    font-weight: 500;
    padding-right: 2rem;
    padding-left: 2rem; }
     .register-container.contact-form .contact-info .contact-title {
      text-align: center;
      text-transform: uppercase;
      margin-top: 3.9rem;
      font-family: "lato";
      font-size: 22.43px;
      letter-spacing: 0.01px;
      font-weight: 400;
      margin-bottom: 2.67rem; }
    .register-container.contact-form .contact-info .info .icon {
      width: 40px;
      float: left; }
      .register-container.contact-form .contact-info .info .icon i {
        font-size: 25px; }
     .register-container.contact-form .contact-info .info p {
      width: calc(100% - 40px);
      float: left;
      margin-bottom: 2rem; }

/**** about us section ******/
.about{
  padding-top: 3em;
  padding-bottom: 3em;

}
.about .title{
  margin-bottom: 1rem;
    font-size: 30px;
    color: #b50100;
    letter-spacing: 1.01px;
}
.about p{
  color: #9a9a9a;
  padding:10px 20px;
  text-align: justify
}
/***** start media query ********/
@media (min-width: 900.98px) {
  .mobile-package {
    display: none; } }
@media (max-width: 991.98px) {
  .top-header .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px; }

  .navbar-dark .container {
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px; }
  .navbar-dark .navbar-toggler span {
    background-image: url("../images/nav.svg"); }
  .navbar-dark .navbar-collapse {
    border-top: 1px solid #d1d1d1; }
  .navbar-dark .nav-item {
    border-bottom: 2px solid #bd873817 !important;
    line-height: 30px !important; }
    .navbar-dark .nav-item.active {
      border-color: #b50100 !important; }
    .navbar-dark .nav-item:focus {
      border-color: #b50100 !important; }
    .navbar-dark .nav-item.hover {
      border-color: #b50100 !important; }

  .bg-dark .navbar-brand img {
    max-height: 65px; }

  .package.packadges-block .container {
    padding: 0 30px;
    max-width: 100%; }
    .package.packadges-block .container .package-feature li {
      font-size: 12px; }

  .features .feature-img img {
    max-width: 100%;
    margin: 0 auto;
    max-height: 40px; }

  .features .feature-name {
    color: #3e3e3e;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 5px; }

  .calandar .consult-times .title {
    font-size: 18px; } }
@media (max-width: 900px) {
  .package.packadges-block {
    display: none; }

  .packadges-block.mobile-package .btn {
    background: #C5984E;
    color: #fff;
    border-color: #C5984E; } }
@media (max-width: 767.98px) {
  .features .col {
    max-width: 25%;
    flex: 0 0 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0; }

  .hero .hero-shadow {
    padding-top: 5.5rem; }
    .hero .hero-shadow h1 {
      border-top: 0;
      border-bottom: 0;
      text-transform: capitalize;
      font-size: 50px;
      color: rgba(255, 255, 255, 0.9);
      font-weight: 900;
      width: 100%;
      margin: 0 auto 40px auto;
      font-family: 'Courgette', cursive; }

  .insta img {
    margin-top: 10px;
    margin-bottom: 10px; }

  footer {
    padding-top: 20px; }
    footer .col.footer-col {
      max-width: 100%;
      flex: 0 0 100%;
      text-align: center; }
      footer .col.footer-col img {
        max-height: 100px;
        margin: 0 auto 15px auto; } 
        footer .col:not(.footer-col){
          max-width: 50%;
      flex: 0 0 50%;
        }
      }
@media (max-width: 575.98px) {
  footer .btn-dark {
    line-height: 10px;
    padding-right: 8px;
    padding-left: 8px;
}
footer .btn-dark .fa{
  font-size: 20px;
}
  .ask .ask-inner .questions .form-group.col-sm-6:first-child, .ask .ask-inner .questions .form-group.col-sm-6:last-child {
    padding-right: 15px;
    padding-left: 15px; }

  .ask .ask-inner .questions .custom-file-input:lang(en) ~ .custom-file-label::after {
    content: "upload ";
    font-size: 12px;
    color: #F4F4F4;
    letter-spacing: 0.46px;
    line-height: 16px;
    right: 10px;
    background: #202020;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    height: 30px;
    top: 3px;
    width: auto;
    text-align: center;
    font-weight: 400; }

  .calandar .consult-times {
    border-radius: 0 !important;
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important; } }
@media (max-width: 500px) {
  .packadges-block.mobile-package .nav li {
    border: 0;
    padding-right: 7px;
    padding-left: 7px;
    width: 50%;
    margin-bottom: 7px;
    margin-top: 7px;
    display: grid;
    align-items: center; }

  .packadges-block.mobile-package ul li {
    min-height: 45px;
    padding-right: 7px;
    padding-left: 7px; }

  footer .col {
    max-width: 50%;
    flex: 0 0 50%; }

  .ask .ask-inner .questions .form-group.date .form-control.a2 {
    width: 90px; }

  .ask .ask-inner h1 {
    font-size: 40px; } }
    @media(max-width:400px){
      footer .col:not(.footer-col){
        max-width: 100%;
    flex: 0 0 100%;
      }
      footer td{
        padding-bottom: 10px;
      }
      .packadges-block ul li{
        font-size:12px;
      }
    }

/*# sourceMappingURL=style.css.map */
