.calandar {
    background: #fff;
    border-radius: 25px;

    .consult-times {
        background: $red;
        color: #f5e4e4;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        padding-top: 20px;
        padding-bottom: 20px;

        .title {
            font-weight: 500;
            margin-bottom: 1.5rem;
            font-size: 24px;
            color: #fff;
            text-transform: capitalize;
            letter-spacing: 1.01px;
        }

        .consult-day {
            font-weight: 500;
            padding-left: 10px;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
        }

        ul {
            padding-left: 10px;
            list-style: none;
            list-style-type: none;
            font-weight: 400;
        }

        .consult-notice {
            ul {
                li {
                    font-size: 14px;
                    line-height: 22px
                }
            }
        }
    }

    .calandar-div {
        padding-top: 20px;
        padding-bottom: 20px;

        table {
            text-align: center;

            th {
                span {
                    display: block;
                    text-align: center;

                    &.today {
                        color: $red;
                        font-size: 12px;
                        text-transform: uppercase;
                        line-height: 20px;
                    }

                    &.date {
                        font-size: 12px;
                        font-weight: 400;
                    }
                }
            }
           
            td{
                padding:0.25rem 0.75rem;
                
                 span{
                    cursor: pointer;
                    transition: color 0.25s;
                    box-shadow: inset 0 0 0 2px transparent;
                    background: none;
                    // Required, since we're setting absolute on pseudo-elements
                    position: relative;
                    vertical-align: middle;
                    display: block;
                    width: 100%;
                    line-height: 40px;
    
                    &::before,
                    &::after {
                        box-sizing: inherit;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                    }
    
                    &::before,
                    &::after {
                        // Set border to invisible, so we don't see a 4px border on a 0x0 element before the transition starts
                        border: 2px solid transparent;
                        width: 0;
                        height: 0;
                    }
    
                    // This covers the top & right borders (expands right, then down)
                    &::before {
                        top: 0;
                        left: 0;
                    }
    
                    // And this the bottom & left borders (expands left, then up)
                    &::after {
                        bottom: 0;
                        right: 0;
                    }
    
                    &.focus , &:hover {
    
                        color: $red;
                        border-radius: 10px;
                        font-weight: bold;
    
                        // Hover styles
                        &::before,
                        &::after {
                            width: 100%;
                            height: 100%;
                        }
    
                        &::before {
                            border-top-color: $red; // Make borders visible
                            border-right-color: $red;
                            transition:
                                width 0.20s ease-out, // Width expands first
                                height 0.20s ease-out 0.20s; // And then height
                        }
    
                        &::after {
                            border-bottom-color: $red; // Make borders visible
                            border-left-color: $red;
                            transition:
                                border-color 0s ease-out 0.4s, // Wait for ::before to finish before showing border
                                width 0.20s ease-out 0.4s, // And then exanding width
                                height 0.20s ease-out 0.55s; // And finally height
                        }
                    }
                   
                }
            }

        }
    }
}