$header:rgba(26,26,26,1);
$footer:rgba(30,30,30,1);
$bottom-footer:rgba(18,18,18,1);
$yellow:rgba(199,153,11,1);
$dark-color:rgba(27,27,27,1);
$gray:rgba(17,17,17,1);
$select:#525252;
$green :rgba(94,135,33,1);
$red:#b50100;