@import "_color";
@import "_fonts";

body {
    font-family:'lato';
    color:#1b1b1b
}
section{
    background:#fff;
}
a,
a:hover,
a:focus,
a:visit {
    transition: color 250ms !important;
    text-decoration: none !important;
}

@import "_header";
/****** home page *********/
@import "_home";
@import "_form";
@import "_calandar";
@import "_footer";
@import "_media";