footer {
    background: $footer;
    padding-top: 4.38rem;
    padding-bottom: 3rem;
    color: #fff;
    font-family: "lato";
    .hot-line {
        .yellow-phone {
            font-size: 25px;
            color: $yellow;
            line-height: 20px;
            font-weight: bold;

            i {
                margin-right:5px;
                font-size: 20px;
            }
        }
    }

    ul {
        padding: 0;
        list-style-type: none;
        list-style: none;

        li {
            transition: all 0.5s ease;

            a {
                color: #fff;
                font-size: 12px;
                text-decoration: none !important;
                line-height: 25px;

                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .follow {
        font-size: 18px;
        line-height: 25px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 20px;
    }

    .btn-dark {
        background: #121212;
        border-color: #121212;
        margin-top: 0.88rem;
        font-size: 17px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 25px;
         padding-right: 15px;
         padding-left: 15px;
        &:hover {
            background: $red;
            border-color: $red;
        }

        i {
            margin-right: 5px;
        }
    }

    .mobile-payment {
        img {
            max-width: 100%;
            margin-right: 1.3rem;
            margin-bottom: 1.26rem;
        }
    }
}

/****** bottom footer ******/
.bottom-footer {
    background: $bottom-footer;
    color: #fff;
    font-size: 13px;
    letter-spacing: 1px;
    text-align: center;
    padding-top: 2.25rem;
    padding-bottom: 2.3rem;
    p{
        margin-bottom: 0;
        a{
            color:#fff;
            text-decoration: underline
        }
    }
}