.hr {
    width: 1.27rem;
    height: 0.15rem;
    background: rgba(199, 153, 11, 0.75);
    border-radius: 5px;
}

.ask {
    background-size: cover !important;
    background-repeat: no-repeat !important;

    .ask-inner {
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        padding-top: 4rem;
        padding-bottom: 3rem;

        h1 {
            font-family: 'Courgette', cursive;
            font-size: 50px;
            color: #fff;
            font-weight: 400;
            text-transform: capitalize
        }

        .questions {
            background: #fff;
            max-width: 600px;
            margin: 2rem auto;
            padding: 40px 20px;

            .form-group {
                &.col-sm-6 {
                    &:last-child {
                        padding-left: 0;

                        .form-control {
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                        }

                    }

                    &:first-child {
                        padding-right: 0;

                        .form-control {
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                        }

                    }
                }

                label {
                    font-size: 12px;
                    color: #262525;
                    letter-spacing: 0.46px;
                    line-height: 26px;
                    font-weight: 400;
                }

                .form-control {
                    border-color: #979797;
                    background: #f2f2f2;
                    border-radius: 2px;

                }

                input {
                    height: 40px;
                }

                &.date {
                    label {
                        display: block;
                    }

                    .form-control {
                        display: inline-block;
                        text-align: center;
                        padding-left: 5px;
                        padding-right: 5px;
                        margin-right: 5px;

                        &.a1 {
                            width: 58px;
                            text-align: center
                        }

                        &.a2 {
                            width: 139px;
                        }
                    }
                }

                .rules-title {
                    font-size: 16px;
                    color: #262525;
                    letter-spacing: 0.46px;
                    line-height: 26px;
                    font-weight: 400;
                    text-transform: capitalize;
                }

                .rules {
                    ul {
                        list-style: none;
                        list-style-type: none;
                        padding: 0;

                        li {
                            font-size: 12px;
                            color: #262525;
                            letter-spacing: 0.46px;
                            line-height: 26px;
                            font-weight: 400;
                        }
                    }
                }
            }

            .custom-file-input:lang(en)~.custom-file-label::after {
                content: "upload ";
                font-size: 12px;
                color: #F4F4F4;
                letter-spacing: 0.46px;
                line-height: 16px;
                right: 28px;
                background: #202020;
                border: 1px solid #FFFFFF;
                border-radius: 2px;
                height: 30px;
                top: 3px;
                width: 100px;
                text-align: center;
                font-weight: 400;
            }

            .custom-file-label {
                border-color: #B0B0B0;
                border-radius: 2px;
                padding: 6px 28px 4px 6px;
            }

            .btn {
                background: #202020;
                border: 1px solid #FFFFFF;
                border-radius: 2px;
                font-size: 17px;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
                font-weight: 400;
                width: 100%;
                text-transform: capitalize;
                margin-top: 20px;
                margin-bottom: 15px;
            }

            .terms-agree {
                font-size: 12px;
                color: #262525;
                letter-spacing: 0.46px;
                line-height: 26px;
                font-weight: 400;
                a{
                    color: #001313;
                    text-decoration: underline;
                }
            }
        }
    }
}

/***** modals design ********/
.consult-modal{
    z-index: 99999;
    .modal-dialog{
        max-width:95%;
        margin-top:5px;
        margin-bottom: 5px;
        .modal-content{
            background-color:transparent;
            box-shadow: none;
            border: 0;
        }
        .modal-header{
            padding: 0;
            border:0;
            border:0;
        }
         .close {
    position: absolute;
    background: #b50100;
    z-index: 9999;
    opacity: 1;
    color: #fff;
    padding: 0px 8px 3px 8px;
    border-color: #b50100;
    right: -5px;
    font-size: 30px;
    top: 5px;
    border-radius: 50%;
        }
    }
}