/**** top header *****/

.top-header {
    background: #202020;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 5px;

    a {
        font-size: 14px;
        color: #DBDBDB;
        letter-spacing: 0.4px;
        display: inline-block;
        line-height: 37px;
        i {
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .dropdown {
        display: inline-block;

        .btn {
            background: transparent !important;
            border: 0 !important;
            box-shadow: none !important;

            &::after {
                content: "";
                display: none;
            }
        }
    }
    .dropdown-menu.show{
        z-index: 9999999;
    margin-top: 0px;
    background: #202020;
    border-radius: 0;
    border-top: 2px solid $red;
    padding-top: 0;
    padding-bottom: 0;
    .dropdown-item{
    padding: .25rem 1rem;
    line-height: 30px;
    border-bottom: 1px solid #dddddd3b;
    display: block !important;
    color:#DBDBDB;
     &:last-child{
         border:0
     }
     &:hover{
         background: transparent;
         color:#fff;
     }
    }
    }
}

.bg-dark {
    background-color: #fff !important;
    padding: 0;
    z-index: 99999;

    .navbar-brand {
        img {
            max-height: 85px;
            margin-right: 15px;
        }

        padding-top:2px;
    }

    .navbar-nav {
        .nav-item {
            line-height: 62px;
            border-bottom: 3px solid transparent;
            padding-top: 10px;
            font-size: 18px;
            color: #1A1A1A;
            letter-spacing: 0.51px;

            &:hover {
                border-color: $red;
            }

            &.active {
                border-color: $red;

                .nav-link {
                    color: $red;
                }
            }
        }

        & .nav-link:focus,
        & .nav-link:hover {
            color: $red
        }

        .nav-link {
            font-size: 0.88rem;
            color: #151a16;
            letter-spacing: 0.4px;
            text-align: left;
            text-transform: uppercase;
            font-family: 'Lato';
            padding-right: 1.06rem;
            padding-left: 1.06rem;
            transition: color 250ms;
            cursor: pointer;
            font-weight: 600;

            &:hover {
                color: $red;
            }

            .cart-num {
                background: $red;
                width: 1.1rem;
                height: 1.11rem;
                border-radius: 50%;
                font-size: 11px;
                font-weight: bold;
                display: inline-block;
                line-height: 18px;
                text-align: center;
                vertical-align: 13px;
                margin-left: -8px;
                color: #fff;
            }
        }

        .dropdown-menu {
            padding: 0;

            .dropdown-item {
                line-height: 25px;
                color: #636363;
                padding: .25rem 1rem;
                font-family: 'Lato';

                &:hover {
                    color: $yellow
                }
            }
        }
    }
}

/******** cart ************/

.header-cart {
    right: 100px;
    top: calc(100% - 3px);
    margin: 0;
    opacity:0;
    z-index: 10;
    width: 290px;
    padding: 20px;
    display: block;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    background-color: #ffffff;
    border-top: 3px solid $red;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
    -webkit-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.10);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.10);
    line-height: 30px;

    ul {
        list-style: none;
        padding: 0;

        li {
            display: block;
            float: left;
            width: 100%;
            border-bottom: 1px solid #dddddd6e;
            padding-top: 10px;
            padding-bottom: 10px;
            .remove-btn {
                position: absolute;
                right: 10px;
                color: #fff;
                background: $red;
                line-height: 20px;
                padding: 0 4px 1px 4px;
                font-weight: bold;
                margin-top: 5px;
            }

            .item-image {
                width:40px;
                float: left;
                padding-right: 5px;
                padding-top: 7px;
                img {
                    max-width: 100%;
                }
            }

            .shop-item-body {
                float: right;
                width: calc(100% - 50px);

                a {
                    display: block;
                    color: #C5984E;
                    font-weight: 600;
                    line-height: 30px;
                }

                .package-time {
                    display: block;
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }

    .total-price {
        padding-top: 20px;
        display: block;
        float: left;
        width: 100%;

        strong {
            text-transform: capitalize;
        }

        .amount {
            float: right;
            font-size: 14px;
            color: $red
        }
    }

    .buttons {
        .btn {
            width: 100%;
            border-radius: 0;
            text-transform: uppercase;
            transition: all 0.5s ease;
            background: #C5984E;
            border-color: #C5984E;
            margin-top: 15px;
            &:hover{
                background:$red;
                border-color:$red; 
            }
        }
    }
}

/* Container
----------------------------------------------------------------------------- */

.header-cart .header-cart-container {
    width: 100%;
    display: block;
}

/* Hover
----------------------------------------------------------------------------- */

li.header-cart-btn:hover {
    border: 0 !important;
}

li.header-cart-btn:hover .header-cart {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
/**** custom select ***********/
.select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    cursor: pointer;
    display: inline-block;
    position: relative;
    font-size: 16px;
    color: #fff;
    width:110px;
    height:10px;
  }
  .select-styled {
    position: absolute; 
    top: -13px;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:transparent;
    padding: 8px 15px;
    transition:all 0.2s ease-in;
    font-size: 14px;
    color: #DBDBDB;
    letter-spacing: 0.4px;
    text-align: left;
    width:100px;
    &:after {
      content:"";
      width: 0;
      height: 0;
      border:5px solid transparent;
      border-color:#DBDBDB transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 10px;
    }
    &:active, &.active {
      &:after {
        top: 9px;
        border-color: transparent transparent #fff transparent;
      }
    }
  }
  
  .select-options {
    display: none; 
    position: absolute;
    top: 22px;
    right: 0;
    left: 0;
    z-index: 99999999;
    margin: 0;
    padding: 0;
    width:150px;
    list-style: none;
    background-color: #202020;
    border-top: 2px solid #b50100;
    text-align: left;
    color: #DBDBDB;
    font-size: 14px;
    li {
      margin: 0;
      padding: .25rem 1rem;
    line-height: 30px;
    border-bottom: 1px solid #dddddd3b;
      transition: all 0.15s ease-in;
      &:hover {
        color: #fff;
        background:$red;
      }
      &[rel="hide"] {
        display: none;
      }
    }
  }
  /*.select:hover{
    .select-options{
        display: block !important
    }
  }*/