/******* start hero section ********************/
.hero {
    background-size: cover !important;
    text-align: center;

    .hero-shadow {
        padding-top: 10.5rem;
        padding-bottom: 3.5rem;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);

        &.inner-pages {
            padding-top: 7rem;
            padding-bottom: 5rem;

            h2 {
                font-family: 'Courgette', cursive;
                font-size: 50px;
                color: #fff;
                font-weight: 500;
            }
        }
    }

    .hero-inner {
        h1 {
            border-top: 2px solid rgba(255, 255, 255, 0.7);
            border-bottom: 2px solid rgba(255, 255, 255, 0.7);
            text-transform: capitalize;
            font-size: 80px;
            color: rgba(255, 255, 255, 0.9);
            font-weight: 900;
            width: 410px;
            margin: 0 auto 100px auto;
        }

    }
}

/***** start features section **********/
.title {
    font-weight: 500;
    margin-bottom: 3rem;
    font-size: 45px;
    color: #1A1A1A;
    letter-spacing: 1.01px;
}

.features {
    padding-top: 5rem;
    padding-bottom: 4rem;

    .col {
        border-right: 1px solid #d1d1d1;
        text-align: center;

        &:last-child {
            border: 0;
        }
    }

    .feature-name {
        color: #3e3e3e;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        margin-top: 20px;
        display: grid;
        align-items: center;
        min-height: 55px;
    }

    .feature-img {
        height: 70px;
        display: grid;
        align-items: center;

        img {
            max-width: 100%;
            margin: 0 auto
        }
    }
}

/***** packedge section *****/
.packadges-block {
    background: #f7f7f7;
    padding-top: 5rem;
    padding-bottom: 4rem;

    .packages {
        margin-top: 100px;
        margin-bottom: 50px;
    }

    .package-title {
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 16.14px;
        color: #242F40;
        text-align: center;
    }

    .package-price {
        color: #243040;
        font-weight: 300;
        min-height:90px;

        .curr {
            font-weight: 600;
        }

        .price {
            font-size: 40px;
            font-weight: 900;
            margin-right: 5px;
            margin-left: 5px;
        }

        i {
            color: #C5984E
        }
    }

    ul {
        list-style-type: none;
        list-style: none;
        padding: 0;

        li {
            font-weight: 500;
            border-bottom: 1px solid #cacaca;
            min-height: 45px;
            line-height: 40px;
            font-size: 14px;
            color: #3D3D3D;

            .fa-info-circle {
                color: #E46060;
                font-size: 18px;
                right: 15px;
                position: absolute;
                margin-top: 12px;
            }
        }
    }

    .recommend-package {
        background: #C5984E;
        text-transform: uppercase;
        font-size: 12px;
        color: #fff;
        font-weight: 400;
        padding: 5px 10px;
        display: block;
        width: 115px;
        margin: 0 auto 10px auto;
    }

    .col {
        padding-top: 20px;
        padding-bottom: 20px;
        transition: all 1s ease;
        &:not(.no-bg) {
            background: #fff;
            border: 1px solid #fff;
            -webkit-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.05);
            box-shadow: -4px 4px 5px 0px rgba(0, 0, 0, 0.05);
            &:hover{
                border: 2px solid #b50100;
                z-index: 99999;
            }
        }

        &.recommend {
            padding-top: 40px;
            margin-top: -60px;
            margin-bottom: -40px;
            border: 1px solid #b50100;
            -webkit-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.15);
            z-index: 99999;

            & .btn {
                background: $red;
                color: #fff;
                border-color: $red;
            }

        }
    }

    .circle {
        border: 2px solid #C5984E;
        color: #C5984E;
        border-radius: 50%;
        padding: 0 3px 1px 3px;
    }

    .btn {
        border-radius: 2px;
        text-transform: uppercase;
        border-color: #858585;
        color: #858585;
        font-weight: 500;
        padding: 10px 20px;
        margin-top: 20px;
        transition: all 0.5s ease;

        &:hover {
            background: $red;
            color: #fff;
            border-color: $red;
        }
    }

    .note {
        text-align: left;
        color: #272e3e;
        font-size: 14px;
        font-weight: 600;
        margin-top: 12rem;
    }

    &.mobile-package {
        .nav {
            margin-bottom:30px;

            li {
                border: 0;
                padding-right: 7px;
                padding-left: 7px;
                width:25%;
                display: grid;
        align-items: center;
                &:first-child {
                    padding-left: 0;
                }

                &:last-child {
                    padding-right: 0;
                }

                .nav-link {
                    background: #fff;
                    font-size: 12px;
                    color: #242F40;
                    text-align: center;
                    line-height: 20px;
                    font-weight: 600;
                    -webkit-box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.05);
                    -moz-box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.05);
                    box-shadow: 0px 6px 5px 2px rgba(0, 0, 0, 0.05);
                    padding: 0.5rem;

                    &.active {
                        background: $red;
                        color: #fff;
                    }
                }
            }

        }

        .row {
            margin: 0;
            border-bottom: 1px solid #cacaca;
            border-top: 1px solid #cacaca;
            border-left: 1px solid #cacaca;

            .col-6 {
                padding: 0;
                border-right: 1px solid #cacaca;
                background: #fff;
            }
        }

        ul {
            li {
                min-height: 45px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        .btn{
            margin-top:0;
            margin-bottom: 15px;
        }
    }
    .select {
        width: 70px;
    }
    .select-styled{
        width: 70px;
        color: #243040;
        font-weight: 300;
        padding: 0;
        padding-top: 7px;
        &::after{
            border-top-color:#C5984E;
        }
    }
    .select-options {
        top: 25px;
        right: 0;
        left: auto;
        li{
            color:#DBDBDB;
        }
    }
    .select-styled:active:after, .select-styled.active:after {
        border-color: transparent transparent #C5984E transparent;
    }
}

/**** insta section ********/
.insta {
    padding-top: 5rem;
    padding-bottom: 4rem;
    text-align: center;

    img {
        width: 100%;
        border: 2px solid #cbcbcd
    }

    .btn {

        margin-top: 20px;
        width: 200px;
        text-transform: uppercase;
        font-weight: bold;
        line-height: 40px;
        font-size: 20px;
        transition: all 0.5s ease;
        border-color: #858585;
        color: #858585;
        background: #fff;
        border-radius: 0;

        &:hover {
            background: $red;
            color: #fff;
            border-color: $red;
        }

        i {
            margin-right: 5px;
        }
    }
}