/***** start media query ********/
@media(min-width:900.98px){
    .mobile-package{
      display: none;
    }
}
@media(max-width:991.98px){
    .top-header{
        .container{
            max-width:100%;
            padding-right: 30px;
            padding-left: 30px;
        }
    }
    .navbar-dark {
        .container{
            max-width:100%;
            padding-right: 30px;
            padding-left: 30px;
        }
        .navbar-toggler{
            span{
                background-image: url("../images/nav.svg");
            }
        }
        .navbar-collapse{
            border-top:1px solid #d1d1d1
        }
        .nav-item{
            border-bottom:2px solid #bd873817 !important;
            line-height: 30px !important;
            &.active{
                border-color: $red !important;
            }
            &:focus{
                border-color: $red !important;
            }
            &.hover{
                border-color: $red !important;
            }
        }
    }
    .bg-dark .navbar-brand img {
        max-height: 65px;
    }
    .package.packadges-block{

        .container{
       padding:0 30px;
       max-width:100%;
       .package-feature{
        li{
          font-size: 12px;
        }
       }
        }
    }
    .features .feature-img img {
        max-width: 100%;
        margin: 0 auto;
        max-height: 40px;
    }
    .features .feature-name {
        color: #3e3e3e;
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        margin-top: 5px;
    }
    .calandar .consult-times .title {
        font-size: 18px;
    }
}
@media(max-width:900px){
    .package.packadges-block{
        display: none;
    }
    .packadges-block.mobile-package .btn{
        background: #C5984E;
        color:#fff;
        border-color:#C5984E;
    }
}
@media(max-width:767.98px){
    .features .col{
        max-width:25%;
        flex:0 0 25%;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 0;
    }
    .hero .hero-shadow {
        padding-top: 5.5rem;
        h1 {
            border-top: 0;
            border-bottom: 0;
            text-transform: capitalize;
            font-size: 50px;
            color: rgba(255, 255, 255, 0.9);
            font-weight: 900;
            width: 100%;
            margin: 0 auto 40px auto;
            font-family: 'Courgette', cursive;
        }
    }
    .insta img{
        margin-top: 10px;
        margin-bottom: 10px;

    }
    footer{
        padding-top:20px;
        .col.footer-col{
            max-width:100%;
            flex:0 0 100%;
            text-align: center;
            img{
                max-height: 100px;
                margin:0 auto 15px auto;
            }
        }
    }
}
@media(max-width:575.98px){
    .ask .ask-inner .questions .form-group.col-sm-6:first-child,.ask .ask-inner .questions .form-group.col-sm-6:last-child {
        padding-right:15px;
        padding-left:15px;
    }
    .ask .ask-inner .questions .custom-file-input:lang(en) ~ .custom-file-label::after {
        content: "upload ";
        font-size: 12px;
        color: #F4F4F4;
        letter-spacing: 0.46px;
        line-height: 16px;
        right: 10px;
        background: #202020;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        height: 30px;
        top: 3px;
        width: auto;
        text-align: center;
        font-weight: 400;
    }
    .calandar .consult-times {
        border-radius: 0 !important;
        border-top-right-radius: 25px !important;
        border-top-left-radius: 25px !important;
    }

}
@media(max-width:500px){
    .packadges-block.mobile-package .nav li {
        border: 0;
        padding-right: 7px;
        padding-left: 7px;
        width: 50%;
        margin-bottom: 7px;
        margin-top: 7px;
        display: grid;
        align-items: center;
    }
    .packadges-block.mobile-package ul li {
        min-height: 45px;
        padding-right: 7px;
        padding-left: 7px;
    }
    footer .col{
        max-width: 50%;
        flex: 0 0 50%;
    }
    .ask .ask-inner .questions .form-group.date .form-control.a2 {
        width:90px;
    }
    .ask .ask-inner h1 {
        font-size:40px;
    }
}